.LoginForm {
    width: 400px;

    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 10px;
}

.loginBtn {
    margin-top: 20px;
    margin-left: auto;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}