.Modal {
    inset: 0;
    position: fixed;

    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-backgdrond);

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: var(--inverted-bg-color);

    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
}

.opened {
    z-index: var(--modal-z-index);
    opacity: 1;
    pointer-events: all;

    .content {
        transform: scale(1);
    }
}

.closing {
    .content {
        transform: scale(0.5);
    }
}